h1, ul, li, p {
    margin: 0;
    border: 0; 
    padding: 0;
}
.header{
    text-align: center;
    margin-top: 100px;
    color: white;
}
.nav{
    width: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    background-color: black;
    height: 75px;
}
li{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
}
p{
    text-align: center;
    margin-top: 20px;
    height:fit-content;
    color: white;
}
body {
    background: #452984 url(Star.jpg) center center repeat;
}